.App-header {
  background-color: #282c34;
  padding: 10px;
  text-align: left;
}

.App-header a{
  color: white;
  padding: 5px;
  text-decoration: none;
}

/* Center table globally */
.center-table {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32vh;
}

/* Table styles */
.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

/* Header styles */
.table-header {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
}

/* Cell styles */
.table-cell {
  padding: 10px;
  border: 1px solid #ddd;
}

/* Icon styles */
.icon-details {
  color: #4CAF50;
  margin-right: 5px;
}

.icon-delete {
  color: red;
  background: none;
  border: none;
  cursor: pointer;
}

/* Styling for EmployeeDetails component */
.employeeDetails {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    color: #333;
}

.employeeDetails h1 {
    font-size: 24px;
    color: #444;
    margin-bottom: 10px;
}

.employeeDetails h2 {
    font-size: 18px;
    margin: 5px 0;
}

.employeeDetails p {
    font-size: 16px;
    color: #666;
}

/* Styles for loading, error, and no data messages */
.message {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

.message.loading {
    color: #555;
}

.message.error {
    color: red;
}

.message.no-data {
    color: #555;
}


